<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>CardsBatman</title>
</head>

<body>
    <header>

        <div class="descuentos">20% de descuento en todos los productos!</div>
        
    </header>

    <main>
        <section class="tienda">
                    
            <img src="../img/tienda.png" alt="logo">

            <h2 class="head_formularios">Nombre Tienda</h2>
         </section>

        <form action="registro" method="post">

                <h4 class="titulo_formulario">Contacto</h4>
                <input type="text" name="name" placeholder="Nombre y Apellido">

                <input type="email" name="email" placeholder="Correo Electrónico">

                <textarea spellcheck="2"></textarea>
           

            <div class="botones">
                <button type="reset">Resetear</button>
                <button type="submit">Entrar</button>
            </div>

            

        </form>

    </main>

    <footer>

        <p>Todos los derechos reservados a FRONT END 1</p>
    
    </footer>
    
</body>


</html>

